# Project-wide ignore rules

# Dependencies
**/node_modules/

# Logs
**/logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
**/.env
**/.env.*
!**/.env.example

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Specific
.DS_Store
Thumbs.db
Desktop.ini

# Testing
**/coverage/

# Dist/Build
**/dist/
**/build/
